* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;
}

.head {

    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.88px;
    color: #17233D;
}

.button-header {
    cursor: pointer;
    background: #6FBF44;
    border: none;
    width: 124px;
    height: 51px;
    border-radius: 6px;
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;

}

.img-logo {
    margin-left: 121px;
    display: inline-block;
}

section {
    display: inline-block;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    color: #161A49;
    line-height: 82px;
    left: 801px;
    top: 342px;
    width: 582px;
}

p {
    color: #4B505A;
    left: 801px;
    height: 99px;
    width: 493px;
    top: 553px;
}

.button-main {
    color: #6FBF44;
    border: none;
}